/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
  color: #555;
}
